<h1>Welcome to Car Place</h1>
<h3>The one stop for sharing your cars with everyone on the internet</h3>
<h4>And for people to make fun of the car you drive... Because, well, this is the internet.</h4>

<br />

<h2>Newest User</h2>
<table class="table">
    <tr>
      <th></th>
      <th>Username</th>
      <th>Full Name</th>
      <th>Email</th>
    </tr>
    <tr>
      <td><img style="height:9%;" src="<%= User.last.avatar.url %>" /></td>
      <td><%= User.last.username %></td>
      <td><%= User.last.full_name %></td>
      <td><%= User.last.email %></td>
    </tr>
</table>
<hr />